<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="catalogitsolutions.letmetutorapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".activity.TeacherLoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.StudentLoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.TeacherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">
        </activity>

        <activity
            android:name=".activity.StudentActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.TeacherActivity" >
        </activity>

        <activity
            android:name=".activity.StudentRegisterActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.TeacherLoginActivity" >
        </activity>
        <activity
            android:name=".activity.TeacherRegisterActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.TeacherLoginActivity" >
        </activity>

        <activity
            android:name=".activity.SearchTeacherActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.TeacherActivity" >
        </activity>

        <activity
            android:name=".activity.TeacherDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.TeacherActivity" >
        </activity>

        <activity
            android:name=".activity.SendMailActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.TeacherActivity" >
        </activity>

        <activity
            android:name=".activity.SearchStudentActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.StudentActivity" >
        </activity>

        <activity
            android:name=".activity.StudentDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activity.StudentActivity" >
        </activity>

    </application>

</manifest>